USE [master]
GO
/****** Object:  Database [DVLD]    Script Date: 9/29/2026 6:56:19 PM ******/
CREATE DATABASE [DVLD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DVLD', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DVLD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DVLD_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DVLD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DVLD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DVLD]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantPersonID] [int] NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
	[ApplicationTypesID] [int] NOT NULL,
	[ApplicationStatus] [tinyint] NOT NULL,
	[LastStatusDate] [datetime] NOT NULL,
	[PaidFees] [smallmoney] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationTypes]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationTypes](
	[ApplicationTypesID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationTypesTitle] [nvarchar](255) NOT NULL,
	[ApplicationFees] [smallmoney] NOT NULL,
 CONSTRAINT [PK_ApplicationTypes] PRIMARY KEY CLUSTERED 
(
	[ApplicationTypesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetainedLicenses]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetainedLicenses](
	[DetainID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [int] NOT NULL,
	[DetainDate] [datetime] NOT NULL,
	[DetainFees] [smallmoney] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsReleased] [bit] NOT NULL,
	[ReleaseDate] [datetime] NULL,
	[ReleasedByUserID] [int] NULL,
	[ReleaseApplicationID] [int] NULL,
 CONSTRAINT [PK_DetainedLicenses] PRIMARY KEY CLUSTERED 
(
	[DetainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternationalLicenses]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternationalLicenses](
	[InternationalLicenseID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IssuedUsingLocalLicenseID] [int] NOT NULL,
 CONSTRAINT [PK_InternationalLicenses] PRIMARY KEY CLUSTERED 
(
	[InternationalLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseClass]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseClass](
	[LicenseClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](255) NOT NULL,
	[ClassDescription] [nvarchar](255) NOT NULL,
	[MinimumAllowedAge] [int] NOT NULL,
	[DefaultValidityLength] [int] NOT NULL,
	[ClassFees] [smallmoney] NOT NULL,
 CONSTRAINT [PK_LicenseClass] PRIMARY KEY CLUSTERED 
(
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[LicenseID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[IssuDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[PaidFees] [smallmoney] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[IssueReason] [tinyint] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Licenses] PRIMARY KEY CLUSTERED 
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDrivingLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDrivingLicense](
	[LocalDrivingLicenseApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
 CONSTRAINT [PK_LocalDrivingLicense] PRIMARY KEY CLUSTERED 
(
	[LocalDrivingLicenseApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[NationalNo] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NOT NULL,
	[ThirdName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[BirthOfDate] [datetime] NOT NULL,
	[Gendor] [tinyint] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[NationalityCountryByID] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_NationalNo] UNIQUE NONCLUSTERED 
(
	[NationalNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestAppointment]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestAppointment](
	[TestAppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[LocalDrivingLicenseID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[PaidFees] [smallmoney] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[RetakeTestApplicationID] [int] NULL,
 CONSTRAINT [PK_TestAppointment] PRIMARY KEY CLUSTERED 
(
	[TestAppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[TestAppointmentID] [int] NOT NULL,
	[TestResult] [bit] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestType]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestType](
	[TestTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TestTypeTitle] [nvarchar](50) NOT NULL,
	[TestTypeDescription] [nvarchar](255) NOT NULL,
	[TestTypeFees] [smallmoney] NOT NULL,
 CONSTRAINT [PK_TestType] PRIMARY KEY CLUSTERED 
(
	[TestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Driver_View]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Driver_View] AS
Select d.DriverID AS 'Driver ID', d.PersonID AS 'Person ID', p.NationalNo AS 'National No.', (p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName) AS 'Full Name',
d.CreatedDate AS 'Date', 
(Select Count(LicenseID) from Licenses where IsActive = 1 AND DriverID = d.DriverID) AS 'Active Licenses'
from Driver d inner join People p
ON d.PersonID = p.PersonID 
GO
/****** Object:  View [dbo].[LocalDrivingLicenseApplications]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[LocalDrivingLicenseApplications] AS
Select ldl.LocalDrivingLicenseApplicationID AS 'L.D.L.AppID', lc.ClassName AS 'Driving Class', p.NationalNo AS 'National No.', 
(p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName) AS 'Full Name', app.ApplicationDate, 
[Passed Tests] = COUNT(CASE WHEN t.TestResult = 1 THEN 1 END), Status = 
CASE
WHEN app.ApplicationStatus = 1 THEN 'NEW'
WHEN app.ApplicationStatus = 2 THEN 'Canceled'
WHEN app.ApplicationStatus = 3 THEN 'Completed'
END

from LocalDrivingLicense ldl inner join Application app
ON ldl.ApplicationID = app.ApplicationID inner join People p
ON app.ApplicantPersonID = p.PersonID inner join LicenseClass lc
ON ldl.LicenseClassID = lc.LicenseClassID left join TestAppointment TA
ON TA.LocalDrivingLicenseID = ldl.LocalDrivingLicenseApplicationID left join Tests t
ON t.TestAppointmentID = TA.TestAppointmentID
GROUP BY ldl.LocalDrivingLicenseApplicationID, lc.ClassName, p.NationalNo, (p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName),
app.ApplicationDate, app.ApplicationStatus
GO
ALTER TABLE [dbo].[Application] ADD  CONSTRAINT [DF_Application_ApplicationStatus]  DEFAULT ((1)) FOR [ApplicationStatus]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_ApplicationTypes] FOREIGN KEY([ApplicationTypesID])
REFERENCES [dbo].[ApplicationTypes] ([ApplicationTypesID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_ApplicationTypes]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_People] FOREIGN KEY([ApplicantPersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_People]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_Users]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_Application] FOREIGN KEY([ReleaseApplicationID])
REFERENCES [dbo].[Application] ([ApplicationID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_Application]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_Licenses] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[Licenses] ([LicenseID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_Licenses]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_Users]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_Users1] FOREIGN KEY([ReleasedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_Users1]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_People]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_Users]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_InternationalLicenses_Application] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Application] ([ApplicationID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_InternationalLicenses_Application]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_InternationalLicenses_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([DriverID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_InternationalLicenses_Driver]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_InternationalLicenses_Licenses] FOREIGN KEY([IssuedUsingLocalLicenseID])
REFERENCES [dbo].[Licenses] ([LicenseID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_InternationalLicenses_Licenses]
GO
ALTER TABLE [dbo].[InternationalLicenses]  WITH CHECK ADD  CONSTRAINT [FK_InternationalLicenses_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InternationalLicenses] CHECK CONSTRAINT [FK_InternationalLicenses_Users]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_Application] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Application] ([ApplicationID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_Application]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([DriverID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_Driver]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_LicenseClass] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClass] ([LicenseClassID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_LicenseClass]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK_Licenses_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK_Licenses_Users]
GO
ALTER TABLE [dbo].[LocalDrivingLicense]  WITH CHECK ADD  CONSTRAINT [FK_LocalDrivingLicense_Application] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Application] ([ApplicationID])
GO
ALTER TABLE [dbo].[LocalDrivingLicense] CHECK CONSTRAINT [FK_LocalDrivingLicense_Application]
GO
ALTER TABLE [dbo].[LocalDrivingLicense]  WITH CHECK ADD  CONSTRAINT [FK_LocalDrivingLicense_LicenseClass] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClass] ([LicenseClassID])
GO
ALTER TABLE [dbo].[LocalDrivingLicense] CHECK CONSTRAINT [FK_LocalDrivingLicense_LicenseClass]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Countries] FOREIGN KEY([NationalityCountryByID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Countries]
GO
ALTER TABLE [dbo].[TestAppointment]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointment_Application] FOREIGN KEY([RetakeTestApplicationID])
REFERENCES [dbo].[Application] ([ApplicationID])
GO
ALTER TABLE [dbo].[TestAppointment] CHECK CONSTRAINT [FK_TestAppointment_Application]
GO
ALTER TABLE [dbo].[TestAppointment]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointment_LocalDrivingLicense] FOREIGN KEY([LocalDrivingLicenseID])
REFERENCES [dbo].[LocalDrivingLicense] ([LocalDrivingLicenseApplicationID])
GO
ALTER TABLE [dbo].[TestAppointment] CHECK CONSTRAINT [FK_TestAppointment_LocalDrivingLicense]
GO
ALTER TABLE [dbo].[TestAppointment]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointment_TestType] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[TestType] ([TestTypeID])
GO
ALTER TABLE [dbo].[TestAppointment] CHECK CONSTRAINT [FK_TestAppointment_TestType]
GO
ALTER TABLE [dbo].[TestAppointment]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointment_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TestAppointment] CHECK CONSTRAINT [FK_TestAppointment_Users]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_TestAppointment] FOREIGN KEY([TestAppointmentID])
REFERENCES [dbo].[TestAppointment] ([TestAppointmentID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_TestAppointment]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewDetain]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewDetain]
	@licenseId int,
	@detainFees smallmoney,
	@userId int,
	@detainId int output
AS
Begin
	SET NOCOUNT ON;
	Insert into DetainedLicenses (LicenseID, DetainDate, DetainFees, CreatedByUserID, IsReleased) Values (@licenseId, GETDATE(), @detainFees, @userId, 0);
	Set @detainId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewPerson]
	@nationalNo nvarchar(20),
	@fname nvarchar(20),
	@sec nvarchar(20),
	@thName nvarchar(20),
	@lName nvarchar(20),
	@date datetime,
	@gendor tinyint,
	@address nvarchar(20),
	@phone nvarchar(20),
	@email nvarchar(50),
	@nationalId int,
	@path nvarchar(500),
	@personId int output
As
Begin
	SET NOCOUNT ON;
	Begin try
	INSERT INTO People Values (@nationalNo, @fname, @sec, @thname, @lName, @date, @gendor, @address, @phone, @email, @nationalid, @path);
	Set @personId = SCOPE_IDENTITY();
	End try
	Begin catch
		if ERROR_NUMBER() = 2627
			Throw 50001, 'This National Number is already exist', 1;

		Throw;
	End catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewTest]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewTest]
	@appointmentId int,
	@result bit,
	@notes nvarchar(255),
	@userId int,
	@testId int output
As
Begin
	Set NOCOUNT ON;
	Begin Try
		Begin Transaction
			
			Update TestAppointment Set IsLocked = 1 where TestAppointmentID = @appointmentId;

			Insert into Tests Values (@appointmentId, @result, @notes, @userId);
			Set @testId = SCOPE_IDENTITY();
		commit;
	End Try
	
	Begin Catch
		Rollback;
		Throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewUser]
	@personId int,
	@username nvarchar(100),
	@password nvarchar(100),
	@isActive bit,
	@userId int output
As
Begin
	SET NOCOUNT ON;
	Begin try
	INSERT INTO Users VALUES (@personId, @username, @password, @isActive);
	Set @userId = SCOPE_IDENTITY();
	End try
	Begin catch
		if ERROR_NUMBER() = 2627
			Throw 50001, 'This username is already exist', 1;

		Throw;
	End catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_CancelLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_CancelLicense]
	@localId int
AS
Begin
	update app set app.ApplicationStatus = 2, app.LastStatusDate = GETDATE() 
	from Application app inner join LocalDrivingLicense ldl ON ldl.ApplicationID = app.ApplicationID
	where ldl.LocalDrivingLicenseApplicationID = @localId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckPersonHasSameClass]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_CheckPersonHasSameClass]
	@personId int,
	@classId int
AS
Begin
	Select app.ApplicantPersonID, app.ApplicationID, ldl.LicenseClassID
	from Application app inner join LocalDrivingLicense ldl ON app.ApplicationID = ldl.ApplicationID
	WHERE (app.ApplicationStatus = 1 OR app.ApplicationStatus = 3) AND  app.ApplicantPersonID = @personId AND ldl.LicenseClassID = @classId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateInternationalLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_CreateInternationalLicense]
	@personId int,
	@appType int,
	@status tinyint,
	@statusDate datetime,
	@fees smallmoney,
	@driverId int,
	@expireDate datetime,
	@userId int,
	@isActive bit,
	@localLicenseId int,
	@internationalLicenseId int output
AS
Begin
	Begin Try
		Begin Transaction

			Declare @appId int;
			Exec SP_CreateNewApp
			@personId,
			@appType,
			@status,
			@statusDate,
			@fees,
			@userId,
			@appId output;

			Update InternationalLicenses set IsActive = 0 where DriverID = @driverId
			Insert into InternationalLicenses Values (@appId, @driverId, GETDATE(), @expireDate, @userId, @isActive, @localLicenseId);
			Set @internationalLicenseId = SCOPE_IDENTITY();
		commit;
	End Try
	Begin Catch
		Rollback;
		Throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateLocalLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_CreateLocalLicense]
	@driverId int,
	@appId int,
	@classId int,
	@expireDate datetime,
	@fees smallmoney,
	@notes nvarchar(255),
	@isActive bit,
	@issueReason tinyint,
	@userId int,
	@licenseId int output
AS
Begin
	Begin Try
		Begin Transaction
			SET NOCOUNT ON;
			Insert into Licenses Values (@driverId, @appId, @classId, GETDATE(), @expireDate, @fees, @notes, @isActive, @issueReason, @userId);
			SET @licenseId = SCOPE_IDENTITY()

			if @issueReason = 1
				update Application set ApplicationStatus = 3, LastStatusDate = GETDATE() where ApplicationID = @appId
		commit;
	End Try
	Begin Catch
		Rollback;
		Throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateNewApp]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_CreateNewApp]
	@personId int,
	@appType int,
	@status tinyint,
	@statusDate datetime,
	@fees smallmoney,
	@userId int,
	@appId int output
As
Begin
	SET NOCOUNT ON;
	Insert into Application Values (@personId, GetDate(), @appType, @status, @statusDate, @fees, @userId);
	SET @appId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateNewDriver]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_CreateNewDriver]
	@personId int,
	@userId int,
	@driverId int output
AS
Begin
	SET NOCOUNT ON;
	Insert into Driver Values (@personId, @userId, GETDATE());
	SET @driverId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateNewLocalDrivingLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_CreateNewLocalDrivingLicense]
	@personId int,
	@appType int,
	@status tinyint,
	@statusDate datetime,
	@fees smallmoney,
	@userId int,
	@classId int,
	@localId int output
As
Begin
	SET NOCOUNT ON;
	Begin Try
		Begin Transaction
			Declare @appId int;
			Exec SP_CreateNewApp
			@personId,
			@appType,
			@status,
			@statusDate,
			@fees,
			@userId,
			@appId output;

			Insert into LocalDrivingLicense Values (@appId, @classId);
			Set @localId = SCOPE_IDENTITY();
		commit;
	End Try
	Begin Catch
		Rollback;
		Throw;
	End Catch
			
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateTestAppointment]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_CreateTestAppointment]
	@typeId int,
	@localId int,
	@date datetime,
	@fees smallmoney,
	@userId int,
	@retakeId int,
	@testAppId int output
AS
Begin
	Set NOCOUNT ON;
	Insert into TestAppointment Values (@typeId, @localId, @date, @fees, @userId, 0, @retakeId);
	Set @testAppId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeactivateLicense]
	@licenseId int
AS
Begin
	If Not Exists (select 1 from Licenses where LicenseID = @licenseId)
				Throw 50001, 'This license is not exist', 1;
	update Licenses set IsActive = 0 Where LicenseID = @licenseId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteApp]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteApp]
	@appId int
As
Begin
	If Not Exists (select 1 from Application where ApplicationID = @appId)
			Throw 50001, 'This applicatin is not exist', 1;
	Delete from Application where ApplicationID = @appId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteLocalDrivingLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DeleteLocalDrivingLicense]
	@appId int,
	@localId int
As
Begin
	Begin Try
		Begin Transaction
			Delete from LocalDrivingLicense where LocalDrivingLicenseApplicationID = @localId
			Exec SP_DeleteApp @appId;
		commit;
	End Try
	Begin Catch
		Rollback;
		Throw;
	End Catch
			
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeletePerson]
	@personId int
As
Begin
	If Not Exists (select 1 from People where PersonID = @personId)
			Throw 50001, 'PersonId is not exist', 1;
	Delete from People where PersonID = @personId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteUser]
	@userId int
As
Begin
	If Not Exists (select 1 from Users where UserID = @userId)
			Throw 50001, 'UserID is not exist', 1;
	Delete from Users WHERE UserID = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesAttendTestType]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DoesAttendTestType]
	@localId int,
	@testTypeId int
As
Begin
	select top 1 t.TestResult from LocalDrivingLicense ldl
	inner join TestAppointment ta
    ON ldl.LocalDrivingLicenseApplicationID = ta.LocalDrivingLicenseID
	inner join Tests t
    ON ta.TestAppointmentID = t.TestAppointmentID 
	where ldl.LocalDrivingLicenseApplicationID = @localId AND ta.TestTypeID = @testTypeId
    order by ta.TestAppointmentID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindAppById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_FindAppById]
	@appId int
As
Begin
	select * from Application where ApplicationID = @appId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindAppTypeById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindAppTypeById]
	@typeId int
As
Begin
	SELECT * FROM ApplicationTypes WHERE ApplicationTypesID = @typeId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindAppTypeByTitle]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindAppTypeByTitle]
	@title nvarchar(255)
As
Begin
	SELECT * FROM ApplicationTypes WHERE ApplicationTypesTitle = @title
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindCountryById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindCountryById]
	@countryId int
As
Begin
	SELECT * FROM Countries Where CountryID = @countryId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindCountryByName]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindCountryByName]
	@name nvarchar(50)
As
Begin
	SELECT * FROM Countries Where CountryName = @name
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindDetainedLicenseByLicenseId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_FindDetainedLicenseByLicenseId]
	@licenseId int
AS
Begin
	SELECT top 1 * from DetainedLicenses where LicenseID = @licenseId order by DetainID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindDriverById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindDriverById]
	@driverId int
As
Begin
	Select * from Driver Where DriverID = @driverId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindDriverByPersonId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindDriverByPersonId]
	@personId int
As
Begin
	Select * from Driver Where PersonID = @personId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindInternationalLicenseById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_FindInternationalLicenseById]
	@licenseId int
AS
Begin
	update InternationalLicenses set IsActive = 
		Case 
		when ExpirationDate < GETDATE() then 0
		else 1
		end
		where InternationalLicenseID = @licenseId
	SELECT * from InternationalLicenses where InternationalLicenseID = @licenseId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindInternationalLicenseByLocalId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_FindInternationalLicenseByLocalId]
	@localId int
AS
Begin
	update InternationalLicenses set IsActive = 
		Case 
		when ExpirationDate < GETDATE() then 0
		else 1
		end
		where IssuedUsingLocalLicenseID = @localId
	SELECT * from InternationalLicenses where IssuedUsingLocalLicenseID = @localId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindLicenseById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindLicenseById]
	@licenseId int
As
Begin
	SELECT * from Licenses where LicenseID = @licenseId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindLicenseClasses]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindLicenseClasses]
	@className nvarchar(255)
As
Begin
	SELECT * FROM LicenseClass WHERE ClassName = @className
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindLicenseClassesById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindLicenseClassesById]
	@classId int
As
Begin
	SELECT * FROM LicenseClass WHERE LicenseClassID = @classId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindLocalDrivingLicenseById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindLocalDrivingLicenseById]
	@localId int
As
Begin
	select * from LocalDrivingLicense where LocalDrivingLicenseApplicationID = @localId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPersonByNationalNo]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_FindPersonByNationalNo]
	@nationalNo nvarchar(20)
As
Begin
	SELECT * FROM People WHERE NationalNo = @nationalNo
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPersonByPersonId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindPersonByPersonId]
	@personId int
As
Begin
	SELECT * FROM People WHERE PersonID = @personId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindTestAppointment]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindTestAppointment]
	@testAppId int
AS
Begin
	Select * From TestAppointment Where TestAppointmentID = @testAppId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindTestById]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindTestById]
	@testId int
As
Begin
	Select * From Tests Where TestAppointmentID = @testId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindTestType]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindTestType]
	@typeId int
As
Begin
	SELECT * FROM TestType WHERE TestTypeID = @typeId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUserId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserByUserId]
	@userId int
As
Begin
	SELECT * FROM Users WHERE UserID = @userId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUsername]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserByUsername]
	@username nvarchar(100)
As
Begin
	SELECT * FROM Users WHERE Username = @username
End
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserByUsernameAndPassword]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_FindUserByUsernameAndPassword]
	@username nvarchar(100),
	@password nvarchar(100)
As
Begin
	SELECT * FROM Users WHERE UserName = @username and Password = @password
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetActiveInternationalLicenseByDriverId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_GetActiveInternationalLicenseByDriverId]
	@driverId int
AS
Begin
	select top 1 InternationalLicenseID from InternationalLicenses where DriverID = @driverId and IsActive = 1
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetActiveLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetActiveLicense]
	@personId int,
	@classId int
AS
Begin
	Select l.LicenseID
	from Licenses l 
	inner join Driver d 
	ON l.DriverID = d.DriverID 
	Where d.PersonID = @personId AND l.LicenseClassID = @classId  AND l.IsActive = 1
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAppTypes]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllAppTypes]
AS
Begin
	SELECT ApplicationTypesID AS 'ID', ApplicationTypesTitle AS 'Title', ApplicationFees AS 'Fees' from ApplicationTypes
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCountries]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllCountries]
As
Begin
	Select * from Countries
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDetainedLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SP_GetAllDetainedLicense]
AS
Begin
	Select DetainID AS 'D.ID', dl.LicenseID AS 'L.ID', DetainDate AS 'D.Date', IsReleased AS 'Is Released', DetainFees AS 'Fine Fees',
	ReleaseDate AS 'Release Date', p.NationalNo AS 'National No.', (p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName) AS 'Full Name',
	ReleaseApplicationID AS 'Release App.ID'
	from DetainedLicenses dl 
	inner join Licenses l 
	ON l.LicenseID = dl.LicenseID 
	inner join Driver d 
	ON l.DriverID = d.DriverID 
	inner join People p 
	ON p.PersonID = d.PersonID
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDrivers]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllDrivers]
As
Begin
	Select * from Driver_View
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllInternationalLicenses]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SP_GetAllInternationalLicenses]
AS
Begin
	update InternationalLicenses set IsActive = 
		Case 
		when ExpirationDate < GETDATE() then 0
		else 1
		end

	select internationalLicenseID AS 'Int.License ID', ApplicationID AS 'Application ID', IssuedUsingLocalLicenseID AS 'L.License ID',
	DriverID AS 'Driver ID', IssueDate AS 'Issue Date', ExpirationDate AS 'Expiration Date', IsActive AS 'Is Active', CreatedByUserID AS 'User ID'
	from InternationalLicenses
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllInternationalLicensesHistory]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAllInternationalLicensesHistory]
	@driverId int
AS
Begin
	update InternationalLicenses set IsActive = 
	Case 
	when ExpirationDate < GETDATE() then 0
	else 1
	end
	where DriverID = @driverId

	select InternationalLicenseID AS 'Int.License ID', ApplicationID AS 'Application ID', IssuedUsingLocalLicenseID AS 'L.License ID', IssueDate AS 'Issue Date',
	ExpirationDate AS 'Expiration Date', IsActive AS 'Is Active', CreatedByUserID AS 'User ID'
	from InternationalLicenses where DriverID = @driverId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllLicenses]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllLicenses]
As
Begin
	Select * from LicenseClass
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllLocalLicenses]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllLocalLicenses]
AS
Begin
	Select * from LocalDrivingLicenseApplications order by [L.D.L.AppID] desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTestAppointment]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllTestAppointment]
	@localId int,
	@typeId int
AS
Begin
	Select [Appointment ID] = TA.TestAppointmentID, [Appointment Date] = TA.AppointmentDate, [Paid Fees] = TA.PaidFees, [Is Locked] = TA.IsLocked
	from TestAppointment TA 
	where TA.LocalDrivingLicenseID = @localId and TA.TestTypeID = @typeId 
	order by TA.TestAppointmentID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTypes]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllTypes]
AS
Begin
	SELECT TestTypeID AS 'ID', TestTypeTitle AS 'Title', TestTypeDescription AS 'Description', TestTypeFees AS 'Fees' from TestType
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAllUsers]
As
Begin
	SELECT u.UserID, u.PersonID,
	(p.FirstName + ' ' + p.SecondName + ' ' +
	CASE p.ThirdName
		when NULL then ''
		else p.ThirdName
	End
	+ ' ' + p.LastName) AS 'Full Name',
	u.UserName, u.IsActive FROM Users u 
	INNER JOIN People p 
	ON u.PersonID = p.PersonID
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLastAppointment]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetLastAppointment]
	@localId int,
	@typeId int
AS
Begin
	Select top 1 * from TestAppointment TA where TA.LocalDrivingLicenseID = @localId and TA.TestTypeID = @typeId order by TA.TestAppointmentID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLastTest]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetLastTest]
	@localId int,
	@testTypeId int
As
Begin
	Select top 1 T.* from Tests T 
	inner join TestAppointment TA 
	ON TA.TestAppointmentID = T.TestAppointmentID
	where TA.LocalDrivingLicenseID = @localId and TA.TestTypeID = @testTypeId
	order by T.TestID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLicenseIdByLocalId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetLicenseIdByLocalId]
	@localId int
AS
Begin
	Select l.LicenseID from Licenses l 
	inner join LocalDrivingLicense ldl 
	ON l.ApplicationID = ldl.ApplicationID 
	Where ldl.LocalDrivingLicenseApplicationID = @localId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLicenseIdByNationalNo]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetLicenseIdByNationalNo]
	@nationalNo nvarchar(20)
AS
Begin
	select LicenseID from Licenses l 
	inner join Driver D 
	ON D.DriverID = l.DriverID 
	inner join People p 
	on p.PersonID = D.PersonID
	where NationalNo = @nationalNo
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLocalLicenseHistory]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetLocalLicenseHistory]
	@driverId int
AS
Begin
	Select LicenseID AS 'Lic.ID', ApplicationID AS 'App.ID', lc.ClassName AS 'Class Name',
	l.IssuDate AS 'Issue Date', l.ExpirationDate AS 'Expiration Date', l.IsActive AS 'Is Active'  
	from Licenses l 
	inner join LicenseClass lc 
	ON l.LicenseClassID = lc.LicenseClassID 
	where l.DriverID = @driverId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPassedTestCount]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetPassedTestCount]
	@localId int
As
Begin
	Select PassedCount = count(TestID) from Tests t inner join TestAppointment ta ON t.TestAppointmentID = ta.TestAppointmentID
    where ta.LocalDrivingLicenseID = @localId AND TestResult = 1
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPeople]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[SP_GetPeople]
As
Begin
	Select PersonID as 'Person ID', NationalNo as 'National No.', FullName = FirstName + ' ' + SecondName + ' ' + ISNULL(ThirdName, '') + ' ' + LastName,
	CASE 
		WHEN Gendor = 0 Then 'Male'
		ELSE 'Female'
	END AS Gendor,
	BirthOfDate as 'Date Of Birth', c.CountryName as 'Nationality', Phone, Email 
	from People 
	INNER JOIN Countries c ON People.NationalityCountryByID = c.CountryID
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTestId]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetTestId]
	@testAppId int
AS
Begin
	Select TestID from Tests Where TestAppointmentID = @testAppId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTrials]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetTrials]
	@localId int,
	@typeId int
AS
Begin
	Select Count(TestAppointmentID) as 'Trial'
	from TestAppointment 
	inner join LocalDrivingLicenseApplications ldla 
	On TestAppointment.LocalDrivingLicenseID = ldla.[L.D.L.AppID] 
	where TestAppointment.LocalDrivingLicenseID = @localId and TestAppointment.TestTypeID = @typeId
	Group by ldla.[Full Name]
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsAppointmentLock]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsAppointmentLock]
	@localId int,
	@typeId int
AS
Begin
	Select top 1 TA.IsLocked from TestAppointment TA where TA.LocalDrivingLicenseID = @localId and TA.TestTypeID = @typeId order by TA.TestAppointmentID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsDetainedLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsDetainedLicense]
	@licenseId int
AS
Begin
	Select IsDetained = 1 From DetainedLicenses where IsReleased = 0 AND LicenseID = @licenseId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonExists]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsPersonExists]
	@NationalNo nvarchar(20) = NULL,
	@personId int = NULL
As
Begin
	Declare @sql nvarchar(MAX) = 'select 1 from People where '

	IF @personId IS NOT NULL
		SET @sql += 'PersonID = @personId'

	IF @NationalNo IS NOT NULL
		SET @sql += 'NationalNo = @NationalNo'

	EXEC sp_executesql
		@sql,
		N'@personId int, @NationalNo nvarchar(20)',
		@personId, @NationalNo
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsThereAnActiveScheduleTest]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsThereAnActiveScheduleTest]
	@localId int,
	@testTypeId int
As
Begin
	select top 1 found = 1 from LocalDrivingLicense ldl inner join TestAppointment ta
    ON ldl.LocalDrivingLicenseApplicationID = ta.LocalDrivingLicenseID
    where ldl.LocalDrivingLicenseApplicationID = @localId AND ta.TestTypeID = @testTypeId AND IsLocked = 0
    order by ta.TestAppointmentID desc
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExists]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsUserExists]
	@userId int = NULL,
	@personId int = NULL,
	@username nvarchar(100) = NULL
As
Begin
	Declare @sql nvarchar(MAX) = 'select 1 from Users where '

	IF @userId IS NOT NULL
		SET @sql += 'UserID = @userId'

	IF @personId IS NOT NULL
		SET @sql += 'PersonID = @personId'

	IF @username IS NOT NULL
		SET @sql += 'Username = @username'

	EXEC sp_executesql
		@sql,
		N'@userId int, @personId int, @username nvarchar(100)',
		@userId, @personId, @username
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ReleaseDetainedLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ReleaseDetainedLicense]
	@personId int,
	@appType int,
	@status tinyint,
	@statusDate datetime,
	@fees smallmoney,
	@releaseUserId int,
	@detainId int,
	@releaseAppId int output
AS
Begin
	Begin Try
		Begin Transaction
			Exec SP_CreateNewApp
			@personId,
			@appType,
			@status,
			@statusDate,
			@fees,
			@releaseUserId,
			@releaseAppId output

			If Not Exists (select 1 from DetainedLicenses where DetainID = @detainId)
					Throw 50001, 'This detained license is not exist', 1;
			update DetainedLicenses 
			set IsReleased = 1, ReleaseDate = GETDATE(), ReleasedByUserID = @releaseUserId, ReleaseApplicationID = @releaseAppId
			Where DetainID = @detainId


		commit;
	End Try
	Begin Catch
		Rollback;
		Throw;
	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_TotalTrialsPerTest]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_TotalTrialsPerTest]
	@localId int,
	@testTypeId int
As
Begin
	select trials = COUNT(TestID) from LocalDrivingLicense ldl inner join TestAppointment ta
    ON ldl.LocalDrivingLicenseApplicationID = ta.LocalDrivingLicenseID inner join Tests t
    ON ta.TestAppointmentID = t.TestAppointmentID where ldl.LocalDrivingLicenseApplicationID = @localId AND ta.TestTypeID = @testTypeId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateApp]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateApp]
	@personId int,
	@appDate datetime,
	@appType int,
	@status tinyint,
	@statusDate datetime,
	@fees smallmoney,
	@userId int,
	@appId int
As
Begin
	If Not Exists (select 1 from Application where ApplicationID = @appId)
			Throw 50001, 'This applicatin is not exist', 1;
	update Application
	set ApplicantPersonID = @personId, ApplicationDate = @appDate, ApplicationTypesID = @appType,
	ApplicationStatus = @status, LastStatusDate = @statusDate, PaidFees = @fees, CreatedByUserID = @userId
	where ApplicationID = @appId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAppType]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateAppType]
	@title nvarchar(255),
	@fees smallmoney,
	@typeId int
As
Begin
	UPDATE ApplicationTypes
	SET ApplicationTypesTitle = @title, ApplicationFees = @fees
	WHERE ApplicationTypesID = @typeId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDetainLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateDetainLicense]
	@licenseId int,
	@detainDate datetime,
	@detainFees smallmoney,
	@userId int,
	@detainId int
AS
Begin
	If Not Exists (select 1 from DetainedLicenses where DetainID = @detainId)
				Throw 50001, 'This detained license is not exist', 1;
	update DetainedLicenses 
	set LicenseID = @licenseId, DetainDate = @detainDate, DetainFees = @detainFees, CreatedByUserID = @userId
	Where DetainID = @detainId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLocalDrivingLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateLocalDrivingLicense]
	@personId int,
	@appDate datetime,
	@appType int,
	@status tinyint,
	@statusDate datetime,
	@fees smallmoney,
	@userId int,
	@appId int,
	@classId int,
	@localId int
As
Begin
	Begin Try
		Begin Transaction
			Exec SP_UpdateApp
			@personId,
			@appDate,
			@appType,
			@status,
			@statusDate,
			@fees,
			@userId,
			@appId;

			Update LocalDrivingLicense
			Set ApplicationID = @appId, LicenseClassID = @classId Where LocalDrivingLicenseApplicationID = @localId
		commit;
	End Try
	Begin Catch
		Rollback;
		Throw;
	End Catch
			
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLocalLicense]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateLocalLicense]
	@driverId int,
	@appId int,
	@classId int,
	@issueDate datetime,
	@expireDate datetime,
	@fees smallmoney,
	@notes nvarchar(255),
	@isActive bit,
	@issueReason tinyint,
	@userId int,
	@licenseId int
AS
Begin
	If Not Exists (select 1 from Licenses where LicenseID = @licenseId)
			Throw 50001, 'This License is not exist', 1;
	update Licenses
	set DriverID = @driverId, ApplicationID = @appId, LicenseClassID = @classId, IssuDate = @issueDate, ExpirationDate = @expireDate,
	PaidFees = @fees, Notes = @notes, IsActive = @isActive, IssueReason = @issueReason, CreatedByUserID = @userId
	Where LicenseID = @licenseId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdatePerson]
	@nationalNo nvarchar(20),
	@fname nvarchar(20),
	@sec nvarchar(20),
	@thName nvarchar(20),
	@lName nvarchar(20),
	@date datetime,
	@gendor tinyint,
	@address nvarchar(20),
	@phone nvarchar(20),
	@email nvarchar(50),
	@nationalId int,
	@path nvarchar(500),
	@personId int
As
Begin
	If Not Exists (select 1 from People Where PersonID = @personId)
			Throw 50001, 'PersonID is not exist', 1;
	Begin try
	Update People 
	set NationalNo = @nationalNo, FirstName = @fname, SecondName = @sec, ThirdName = @thName, LastName = @lName, 
	BirthOfDate = @date, Gendor = @gendor, Address = @address, Phone = @phone, Email = @email, NationalityCountryByID = @nationalId, ImagePath = @path
	Where PersonID = @personId
	End try
	Begin catch
		if ERROR_NUMBER() = 2627
			Throw 50001, 'This National Number is already exist', 1;

		Throw;
	End catch
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTest]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateTest]
	@appointmentId int,
	@result bit,
	@notes nvarchar(255),
	@userId int,
	@testId int
As
Begin
	If Not Exists (select 1 from Tests where TestID = @testId)
		Throw 50001, 'The test is not exist', 1;
	Update Tests
	set TestAppointmentID = @appointmentId, TestResult = @result, Notes = @notes, CreatedByUserID = @userId
	Where TestID = @testId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTestAppointment]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateTestAppointment]
	@typeId int,
	@localId int,
	@date datetime,
	@fees smallmoney,
	@userId int,
	@locked bit,
	@testAppId int
AS
Begin
	If Not Exists (select 1 from TestAppointment where TestAppointmentID = @testAppId)
			Throw 50001, 'This test Appointment is not exist', 1;
	Update TestAppointment
	set TestTypeID = @typeId, LocalDrivingLicenseID = @localId, AppointmentDate = @date,
	PaidFees = @fees, CreatedByUserID = @userId, IsLocked = @locked
	Where TestAppointmentID = @testAppId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTestType]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateTestType]
	@title nvarchar(50),
	@description nvarchar(50),
	@fees smallmoney,
	@typeId int
As
Begin
	UPDATE TestType
	SET TestTypeTitle = @title, TestTypeDescription = @description, TestTypeFees = @fees
	WHERE TestTypeID = @typeId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 9/29/2026 6:56:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateUser]
	@personId int,
	@username nvarchar(100),
	@password nvarchar(100),
	@isActive bit,
	@userId int
As
Begin
	If Not Exists (select 1 from Users where UserID = @userId)
			Throw 50001, 'UserID is not exist', 1;
	Begin try
	Update Users 
	set PersonID = @personId, Username = @username, Password = @password, IsActive = @isActive
	WHERE UserID = @userId
	End try
	Begin catch
		if ERROR_NUMBER() = 2627
			Throw 50001, 'This username is already exist', 1;

		Throw;
	End catch
End
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-New 2-Cancelled 3-Completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Application', @level2type=N'COLUMN',@level2name=N'ApplicationStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-FirstTime, 2-Renew, 3-Replacement for a Damaged, 4- Replacement for a Lost' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Licenses', @level2type=N'COLUMN',@level2name=N'IssueReason'
GO
USE [master]
GO
